* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(241, 242, 244, 0.8);
    border-bottom: 5px solid rgba(242, 243, 245, 0.9);
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    margin-top: 3.2rem;
}

.logo {
    font-weight: bold;
    font-size: 32px;
    margin-left: 1rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    padding: 1rem;
}

.nav-list a:hover{
    cursor: pointer;
}

/* Add student */

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem 1rem;
    box-shadow: 4px 4px 30px 7px rgb(200 201 206 / 70%);
    border-radius: 10px;
    margin: 1.5em;
}

.form-elmt {
    padding: 1em;
    width: 90%;
}

.form-elmt label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1rem;
}

.form-elmt input, .select_dpt, .select{
    padding: 1rem;
    font-family: inherit;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
}

.select {
    width: 70%;
}

.table-data button, .btn {
    font-weight: bold;
    font-family: inherit;
    font-size: 90%;
    padding: 0.5rem 1rem;
    margin: auto;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit {
    font-weight: bold;
    font-family: inherit;
    font-size: 100%;
    padding: 1rem 2rem;
    margin: auto;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button a {
    color: #fff;
}

/* Students */

.student-table {
    display: flex;
    margin: 1rem;
}

.table-data, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem;
}

th {
    border: 1px solid #555;
    background-color: #000;
    color: #fff;
}

td a {
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
}


/* Departments */

.page {
    padding: 1rem;
}

.page section {
    padding: 1em;
}

#underline {
    background-color: #000;
    width: 45%;
    height: 0.3rem;
}

.page_header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.sub-actions {
    display: flex;
    list-style-type: none;
}

.sub-actions-li {
    padding-top: 1rem;
}

.sub-actions-li a{
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: #96031A;
    font-weight: bold;
    color: #FFFBFF;
}

.sub-actions-li a:hover{
    background-color: #280107;
    color: #FFFBFF;
}

.prof_img {
    border-radius: 50%;
}

.sort {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sort_search {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}