:root {
    --main-bg: rgba(241, 242, 244, 0.8);
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Section 1 */

.rel-section {
    position: relative;
    width: 100%;
    height: 95vh;
}

.bng-img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
}

.bng-img img {
    width: 100%;
}

.ttl {
    z-index: 1;
    text-align: center;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.ttl h1 {
    font-size: 6rem;
    padding: 1rem;
}

/* Section 2 */

.blog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    height: 100vh;
    background-color: var(--main-bg);
}

.blog-section p {
    font-weight: bold;
    font-size: 18px;
    color: #777;
}

.blog-section-title {
    font-size: 54px;
}

.cards-section {
    margin: 2rem auto;
}

.card {
    position: relative;
    width: 30rem;
    height: 36rem;
    border-radius: 20px;
}

.card-bng {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    /* z-index: -1; */
}

.card-bng img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-content {
    z-index: 5;
    height: 100%;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h1 {
    font-size: 3rem;
}

.card-content p {
    color: #fff;
}